@import url("https://fonts.googleapis.com/css?family=Signika:300,400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap");
// color
$black: #000000;
$white: #ffffff;
$gold: #ffe195;
$header__menu: rgba(255, 255, 255, 0.8);
$dark-white: rgba(255, 255, 255, 0.8);
$text-color: #fff;
$wide-button: #2d3a52;
$dark-blue: #0e1420;
// hover
$dark-gold: #cfb87e;

// background color
$header: rgba(1, 23, 45, 0.95);
$btn_hidden: #0e1420;
$menu_mobile: rgba(1, 23, 45, 0.95);
$offers-patent-card: rgba(27, 49, 75, 0.75);
$feedback_bg: rgba(27, 49, 75, 0.75);
//шрифт
$font-signika: "Signika";
$font-Playfair: "Playfair Display", serif;
//время анимация
$transition: 0.3s;
// стиль контента

//сброс стилей
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1220px;
}

// позиция текста
.text_left {
  text-align: left;
}
.text_right {
  text-align: right;
}
.text_center {
  text-align: center;
}
//телефон
.phone {
  color: $gold;
  text-decoration: none;
  font-weight: 600;
  font-family: $font-Playfair;
}
// дата
.date {
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-signika;
}

// стиль ссылок навигации
.nav_link {
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: $font-signika;
  transition: $transition;
  &:hover{
    color:$gold;
  }
}
//заголовки h1 h2 h3
.title_s {
  font-weight: bold;
  font-size: 32px;
  line-height: 43px;
  color: $white;
  font-family: $font-Playfair;
}
.title_m {
  font-weight: bold;
  font-size: 56px;
  line-height: 52px;
  color: $white;
  font-family: $font-Playfair;
}
// заголовок с верзним регистром
.title_uppercase {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $dark-white;
  font-family: $font-signika;
}
// текст p
.text_s {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: $dark-white;
  font-family: $font-signika;
}
.text_m {
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: $dark-white;
  font-family: $font-signika;
}

// кнопка во всю ширину контейнера
.wide-button {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  padding: 16px 0;
  letter-spacing: 1px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: $font-signika;
  background: $wide-button;
  transition: $transition;
  color: $dark-white;
  &:hover {
    background: $gold;
    color: $black;
  }
}

// кнопка со стрелкой
.button_arrow {
  transition: $transition;
  font-family: $font-signika;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
  background: $gold;
  color: $black;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 20px 6px 40px;

  &:before {
    content: "";
    background: url("./img/sprait/Sprait.png");
    background-position: -0px -172px;
    position: absolute;
    display: inline-block;
    left: 6%;
    top: 8px;
    height: 13px;
    width: 16px;
  }

  &:hover {
    color: $gold;
    background: $dark-blue;
  }
  &:hover::before {
    background-position: -0px -162px;
  }
}

//сброс стилей
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ol,
ul {
  padding: 0;
  margin: 0;
}
li,
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
