// Меню навигация по сайту
.header__menu_items {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 20px;
  li {
    margin-right: 20px;
    a {
      @include item_style();
      color: $header__menu;
      &:hover {
        color: $gold;
        transition: $transition;
      }
    }
  }
}

.header {
  font-family: $font-signika;
  font-weight: 300;
  background-color: $header;
  //логотип
  &__logo {
    margin-right: 24px;
    &:hover {
      opacity: 0.6;
      transition: $transition;
    }
  }
  //блок меню
  &__menu {
    display: flex;
    align-items: center;
  }
  //блок контакты
  &__contacts {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
  }
  // телефон
  &__phone {
    padding-right: 18px;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    color: $gold;
    &:hover {
      color: $dark-gold;
      transition: $transition;
    }
  }
  .header__contacts_button a::before{
    content: '';
    border: 1px solid red;
    padding: 2000px;  
    z-index: 4;
  }
  // кнопка справа
  &__contacts_button {
     
    a {
      @include item_style();
      user-select: none;
      padding: 6px 12px 6px 32px;
      background: $gold;
      color: $btn_hidden;

      &:hover {
        background: $dark-gold;
        transition: $transition;
      }
    }
  }
}

// меню в колонну
/* 
.header__menu_column {
  li {
    a {
      background-color: $gold;
      padding: 6px 12px;
      user-select: none;
      background: $btn_hidden;
      color: $gold;
      margin-bottom: 5px;
      white-space: nowrap;
      @include item_style();
      &:hover {
        background: $gold;
        color: $btn_hidden;
        transition: $transition;
      }
    }
  }
} */




// MEDIA

 