// Меню навигация по сайту
.header__menu_items {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 20px;
  li {
    margin-right: 20px;
    a {
      @include item_style();
      color: $header__menu;
      &:hover {
        color: $gold;
        transition: 0.3s;
      }
    }
  }
}
// меню в колонну
.header__menu_column {
  position: absolute;
  display: none;
  li {
    a {
      background-color: $gold;
      padding: 6px 12px;
      user-select: none;
      background: $btn_hidden;
      color: $gold;
      margin-bottom: 5px;
      white-space: nowrap;
      @include item_style();
      &:hover {
        background: $gold;
        color: $btn_hidden;
      }
    }
  }
}

.header {
  font-family: $font-signika;
  font-weight: 300;
  background-color: rgb(27, 27, 54);
  //логотип
  &__logo {
    margin-right: 24px;
  }
  //блок меню
  &__menu {
    display: flex;
    align-items: center;
  }
  //блок контакты
  &__contacts {
    display: flex;
    border: 2px solid red;
  }
  &__phone {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    color: $gold;
  }
  // кнопка справа
  &__menu_button {
    a {
      user-select: none;
      padding: 6px 12px;
      @include item_style();
      background: $gold;
      color: $btn_hidden;
    }
  }
}
