@media (max-width: 1250px) {
  .offers-patents {
    &__container-cards {
      justify-content: space-around;
    }
  }
  .offers-patents {
    &__title {
      text-align: center;
    }
  }
  .recently-won-patents {
    &__content {
      padding: 0 110px 0 10px;
    }
  }
  .blog-news__block_slider {
    justify-content: space-around;
  }
  .footer {
    &__nav_item {
      margin-right: 20px;
    }
  }
}
@media (max-width: 1150px) {
  .header {
    &__menu_items {
      flex-wrap: wrap;
      li {
        margin-right: 10px;
      }
    }
  }
  .footer {
    &__nav {
      flex-direction: column;
    }
  }
}
@media (max-width: 980px) {
  .header {
    &__block {
      padding: 20px 0;
    }
    &__contacts {
      flex-wrap: wrap;
    }
    &__button_wrap {
      margin-top: 10px;
    }
  }
  .feedback {
    &__info-block {
      flex-direction: column;
      padding: 85px 25px 55px 25px;
    }
    &__info_left {
      width: 100%;
    }
    &__info_right {
      width: 100%;
    }
    &__desc {
      padding: 15px 0px 0px 0px;
    }
    &__title {
      width: 85%;
    }
  }
  .recently-won-patents {
    &__content {
      padding: 0 30px 0 0px;
    }
  }
  .call-us {
    &__title {
      font-size: 36px;
    }
  }
}
@media (max-width: 833px) {
  .anchor__wrap_index {
    top: 540px;
  }
  .offers-patents {
    &__card {
      width: 45%;
    }
    &__info_text {
      margin-top: 20px;
    }
    &__info {
      padding: 0 15px 15px 15px;
    }
  }
  .recently-won-patents {
    &__content {
      padding: 0 10px 0 10px;
      margin: 0 auto;
      width: 100%;
    }
  }
  .call-us {
    &__info-block {
      display: flex;
      padding: 25px 10px 35px 10px;
    }
    &__title {
      font-size: 36px;
    }
    &__info-block {
      flex-direction: column;
    }
    &__info_left {
      width: 100%;
    }
    &__info_right {
      width: 100%;
    }
    &__desc {
      padding: 10px 10px 10px 0px;
    }
    &__phone_mobil {
      display: inline-block;
    }
    &__phone_desktop {
      display: none;
    }
  }
  .footer {
    &__box_menu {
      flex-direction: column;
      align-items: flex-start;
    }

    &__nav {
      flex-direction: row;
      padding-bottom: 12px;
    }
    &__nav_items {
      flex-wrap: wrap;
      flex-direction: row;
    }
    &__nav_item {
      padding-bottom: 8px;
    }
  }
}
@media (max-width: 715px) {
  .hamburger__wrap {
    display: block;
    top: 52px;
  }
  .header {
    &__menu_items {
      display: none;
    }

    &__contacts {
      flex-direction: column;
      position: relative;
      bottom: 30px;
    }
    &__phone_wrap {
      position: absolute;
      left: 50px;
    }
    &__button_wrap {
      position: absolute;
      left: 50px;
      top: 25px;
    }
  }
  .introduction {
    &__content {
      margin: 0 auto;
      width: 100%;
    }
    &__title {
      @include title(36, 34);
    }
    &__desc {
      margin-top: 20px;
    }
    &__text {
      @include text(16, 23);
    }
  }
  .offers-patents {
    &__icon {
      margin-top: 0px;
    }
    &__card {
      width: 30%;
      height: 130px;
      justify-content: center;
    }
    &__info {
      display: none;
    }
    &__name {
      display: none;
    }
    &__link {
      display: none;
    }
  }
  .feedback {
    &__info-block {
      flex-direction: column;
      padding: 10px 25px 45px 10px;
    }
    &__info_left {
      width: 100%;
      flex-direction: column;
    }
    &__info_right {
      width: 100%;
    }
    &__title {
      width: 100%;
      padding-top: 10px;
    }
  }
  .wide-button {
    background: $gold;
    color: $black;
    &:hover {
      background: $wide-button;
      color: $dark-white;
    }
  }
  .blog-news__title {
    text-align: center;
  }
  .blog-news__wrap_slider {
    overflow: hidden;
    width: 280px;
    margin: 0 auto;
  }
  .blog-news__block_slider {
    flex-wrap: nowrap;
    width: 1200px;
    transform: translateX(-900px);
  }
  .blog-post {
    margin-right: 20px;
  }

  /*  .blog-post__slider_1{
transform: translateX(-215px)
  } */

  .footer {
    &__box_info {
      flex-direction: column;
    }
    &__text_creator {
      margin-top: 30px;
    }
  }
}
@media (max-width: 500px) {
  .footer {
    &__nav_items {
      flex-direction: column;
    }
    &__box_accredited {
      flex-direction: column;
      align-items: flex-start;
    }
    &_social {
      margin-top: 13px;
    }
    &__aside {
      width: 100%;
    }
  }
}
@media (max-width: 445px) {
  .hamburger__wrap {
    top: 38px;
  }
  .hamburger__wrap {
    top: 30px;
  }
  .header {
    &__block {
      padding: 5px 0;
    }
    &__menu {
      height: 120px;
    }
    &__contacts {
      position: static;
    }
    &__logo {
      position: absolute;
      top: 17px;

      &_img {
        height: 47px;
        width: 47px;
      }
    }
    &__phone_wrap {
      left: 85px;
      top: 28px;
    }
    &__button_wrap {
      top: 75px;
      width: 100%;
      left: 0;
    }
    &__button {
      display: block;
      &::before {
        left: 10%;
      }
    }
  }
  .offers-patents {
    &__icon {
      margin-top: 0px;
    }
    &__card {
      width: 130px;
      height: 130px;
      justify-content: center;
    }
    &__info {
      display: none;
    }
    &__name {
      display: none;
    }
    &__link {
      display: none;
    }
  }
  .feedback {
    &__info-block {
      padding: 10px 25px 25px 10px;
    }
  }
}
