//скрытое мобильное меню
.modal_menu-open-js {
  transform: translateX(0%);
}
.modal_menu-hidden-js {
  transform: translateX(-100%);
}
.modal_menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $menu_mobile;
  transition: 0.5s;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 9999px;
  z-index: 3;
  padding: 25px 20px 20px 30px;

  &__block {
    width: 100%;
    height: 100%;
  }
  &__logo_box {
    display: flex;
    align-items: center;
    margin-left: -7px;
  }
  &__img_logo {
    width: 55px;
    height: 55px;
    user-select: none;
  }
  &__phone {
    margin-left: 32px;
    letter-spacing: 1px;
    @include phone_style();
  }
  // навигация по сайту мобильная версия
  &__navigation {
    margin-top: 38px;
    li {
      margin-bottom: 19px;
      a {
        @include item_style_menu();
        color: $header__menu;
        transition: $transition;
        &:hover {
          color: $gold;
        }
      }
    }
  }

  &__contacts_mobil {
    padding-top: 24px;
    li {
      margin-bottom: 29px;
    }
  }

  &__button_mobil {
    @include item_style_menu();
    background-color: $btn_hidden;
    color: $gold;
    padding: 6px 12px 6px 41px;
    position: relative;
    transition: $transition;
    &::before {
      content: "";
      @include line_gold();
      background-repeat: no-repeat;
      background-position: 50%;
      left: 5%;
      padding: 10px;
      position: absolute;
      bottom: 0;
      top: 0;
      &:hover {
        @include line();
      }
    }
    &:hover {
      background-color: $dark-gold;
    }
  }
}
