.section_top_index {
  background:linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%),
  url('./img/background/mountains.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  
}
.anchor__wrap_index {
  position: absolute;
  top: 640px;
  right: 50%;
  transform: translateX(50%);
}
.introduction_index {
  padding: 91px 0 250px 0px;
  &__content_index {
    padding-left: 10px;
    width: 50%;
    margin-left: auto;
  }
  &__title {
    @include title(64, 60);
  }
  &__desc {
    margin-top: 20px;
  }
  &__text {
    @include text(16, 26);
  }
}
.social_top_index {
  margin-top: 208px; 
}
