.section_top_index {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%),
    url("./img/background/mountains.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section_top_overlay {
  padding: 50px;
  background: linear-gradient(to top, #04020e, rgba(230, 226, 224, 0));
}
.anchor__wrap_index {
  user-select: none;
  position: absolute;
  top: 640px;
  right: 50%;
  transform: translateX(50%);
}
.introduction {
  padding: 91px 0 150px 0px;
  &__content {
    padding-left: 10px;
    width: 50%;
    margin-left: auto;
  }
  &__title {
    @include title(64, 60);
  }
  &__desc {
    margin-top: 20px;
  }
  &__text {
    @include text(16, 26);
  }
}
  .section-offers_index{
    background: #04020e;
 /*  background: url('./img/background/stars_bg.png');
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-size: cover;  */
}  
.social_top_index {
  margin-top: 208px;
}
.feedback__wrap_index {
  margin-top: 100px;
}

.recently-won-patents__wrap-index{
  margin-top: 100px;
}
.call-us__wrap_index{
  margin-top: 97px;
}