<div class="feedback">
        <div class="container">
          <div class="feedback__box">
            <div class="feedback__info-block">
              <div class="feedback__info_left">
                <div class="feedback__logo"></div>
                <h2 class="feedback__title title_s">Thank you for Choosing
                  Williams Intellectual Property</h2>
              </div>
              <div class="feedback__info_right">
                <div class="feedback__desc">
                  <p class="feedback__text text_s">We’re here to help you through the complex labyrinth and changing
                    landscape of the United States Patent and Trademark Office. Let us leverage our expertise and help you, from
                    paper to marketplace.</p>
                </div>
              </div>
            </div>
            <a class="feedback__button wide-button" href="#">Lear more</a>
          </div>
        </div>
      </div>