<footer class="footer">
  <div class="container">
    <div class="footer__block">

      <div class="footer__box_menu">
        <nav class="footer__nav">
          <ol class="footer__nav_items">
            <li class="footer__nav_item"><a class="footer__nav_link nav_link" href="#">Who We Are</a></li>
            <li class="footer__nav_item"><a class="footer__nav_link nav_link" href="#">What We Do</a></li>
            <li class="footer__nav_item"><a class="footer__nav_link nav_link" href="#">Patenting Process</a></li>
            <li class="footer__nav_item"><a class="footer__nav_link nav_link" href="#">FAQ</a></li>
          </ol>
          <ol class="footer__nav_items">
            <li class="footer__nav_item"><a class="footer__nav_link nav_link" href="#">Fee Structure</a></li>
            <li class="footer__nav_item"><a class="footer__nav_link nav_link" href="#">Contact</a></li>
            <li class="footer__nav_item"><a class="footer__nav_link nav_link" href="#">Submit Your Idea Now</a></li>
            <li class="footer__nav_item  "><a class="footer__nav_link nav_link" href="#">Blog</a></li>
          </ol>
        </nav>
        <a href="#" class="footer__button button_arrow ">Submit Your Idea Now</a>
      </div>

      <div class="footer__box_accredited">
        <div class="footer__aside">
          <div class="footer__box_rating">
            <a href="#">
              <div class="footer__logo_BBB"></div>
            </a>
            <div class="footer__desc_rating">
              <h6 class="footer__title_BBB">BBB Rating: A+ </h6>
              <p class="footer__text_BBB">as of 6/5/2018 Click for Profile</p>
            </div>
          </div>
          <a href="#">
            <div class="footer__logo_NAPP"><img src="./img/footer/NAPP.png" alt=""></div>
          </a>
        </div>
        <div class="footer_social">@@include('./../components/social-network.html')</div>
      </div>


      <div class="footer__box_company-rating">
        <p class="footer__text">Company rating:</p>
        <div class="footer__rating"></div>
      </div>
      <p class="footer__text_register footer__text">Benjamin Williams, Registered Patent Agent, Reg. No. 70416</p>


      <div class="footer__box_info">
        <a href="tel:+1-888-357-1068" class="footer__link_phone">Office: 1-888-357-1068. Fax: (720) 328-5297</a>
        <p class="footer__text_creator">Web Design – Direct Line Development</p>
      </div>
    </div>
  </div>
</footer>