<header class="header">
  <div class="container">
    <div class="header__block">
      <div class="header__menu">
        <div class="header__logo"><img class="header__logo_img" src="./img/header/header-logo/Group.png" alt="">
        </div>

        <ol class="header__menu_items">
          <li class="header__menu_item"><a href="#">Who We Are</a></li>
          <li class="header__menu_item"><a href="#">What We Do</a></li>
          <li class="header__menu_item"><a href="#">Patenting Process</a></li>
          <li class="header__menu_item"><a href="#">FAQ</a></li>
          <li class="header__menu_item"><a href="#">Fee Structure</a></li>
          <li class="header__menu_item"><a href="#">Contact</a></li>
          <li class="header__menu_item"><a href="#">Blog</a></li>
        </ol>

        <span class="header__menu_phone"> <a href="tel:+1-888-357-1068">1-888-357-1068</a></span>
        <div class="header__menu_btn"> <a href="#">submit your idea now</a>
        </div>
        <ol class="header__menu_hidden_items">
          <li class="header__menu_hidden_item"><a href="#"> contact us </a></li>
          <li class="header__menu_hidden_item"><a href="#"> view our services</a></li>
          <li class="header__menu_hidden_item"><a href="#">download patent overview</a></li>
        </ol>

      </div>

      <!--  @@include('./../components/header-navigation.html') -->
    </div>
  </div>
</header>
</body>

</html>