<header class="header">
  <div class="container">
    <div class="header__block">
      <div class="header__menu">
        <div class="header__logo"><img class="header__logo_img" src="./img/header/header-logo/Group.png" alt="">
        </div>

        <ol class="header__menu_items">
          <li><a href="#">Who We Are</a></li>
          <li><a href="#">What We Do</a></li>
          <li><a href="#">Patenting Process</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Fee Structure</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Blog</a></li>
        </ol>

        <div class="header__contacts">
          <div class="header__phone_wrap"><a class="header__phone" href="tel:1-888-357-1068">1-888-357-1068</a></div>

          <!-- <div class="header__menu_column"> -->
          <div class="header__menu_button"><a href="#">submit your idea now</a></div>
          <ol class="header__menu_column">
            <li><a href="#">contact us</a></li>
            <li><a href="#">view our services</a></li>
            <li><a href="#">download patent overview</a></li>
          </ol>
          <!-- </div> -->
        </div>


      </div>

      <!--  @@include('./../components/header-navigation.html') -->
    </div>
  </div>
</header>
</body>

</html>