

<div class="offers-patents__card"> <a href="">
    <div class="offers-patents__card-top">
      <div class="offers-patents__icon offers-patents__icon-house"></div>
      <h3 class="offers-patents__name">Utility Patents</h3>
    </div>
    <div class="offers-patents__bottom">
      <div class="offers-patents__info">
        <p class="offers-patents__info_text">
          Utility patents offer the broadest protection for any new or useful process, machine, manufacture,
          or composition of matter. </p>
      </div>
      <a class="offers-patents__link" href="#">Lear more</a>
    </div>
  </a>
</div>


<div class="offers-patents__card">
  <a href="">
    <div class="offers-patents__card-top">
      <div class="offers-patents__icon offers-patents__icon-ruler"></div>
      <h3 class="offers-patents__name">Design Patents</h3>
    </div>
    <div class="offers-patents__bottom">
      <div class="offers-patents__info">
        <p class="offers-patents__info_text">
          Design patents protect the way something looks, not the structural components informing the
          device.
        </p>
      </div>
      <a class="offers-patents__link" href="#">Lear more</a>
    </div>
  </a>
</div>


<div class="offers-patents__card">
  <a href="">
    <div class="offers-patents__card-top">
      <div class="offers-patents__icon offers-patents__icon-notebook"></div>
      <h3 class="offers-patents__name">Provisional Patents</h3>
    </div>
    <div class="offers-patents__bottom">
      <div class="offers-patents__info">
        <p class="offers-patents__info_text">
          A provisional patent is a temporary filing, filed under 35 USC 111(b), used to secure the benefit
          of
          a filing date.</p>
      </div>
      <a class="offers-patents__link" href="#">Lear more</a>
    </div>
  </a>
</div>


<div class="offers-patents__card">
  <a href="">
    <div class="offers-patents__card-top">
      <div class="offers-patents__icon offers-patents__icon-plant"></div>
      <h3 class="offers-patents__name">Plant Patents</h3>
    </div>
    <div class="offers-patents__bottom">
      <div class="offers-patents__info">
        <p class="offers-patents__info_text">
          Plant patents are granted to an inventor who has invented or discovered, and asexually reproduced
          a distinct and new variety of plant.</p>
      </div>
      <a class="offers-patents__link" href="#">Lear more</a>
    </div>
  </a>
</div>


<div class="offers-patents__card">
  <a href="">
    <div class="offers-patents__card-top">
      <div class="offers-patents__icon offers-patents__icon-rewarding"></div>
      <h3 class="offers-patents__name">Trademarks</h3>
    </div>
    <div class="offers-patents__bottom">
      <div class="offers-patents__info">
        <p class="offers-patents__info_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
          gravida dolor </p>
      </div>
      <a class="offers-patents__link" href="#">Lear more</a>
    </div>
  </a>
</div>


<div class="offers-patents__card">
  <a href="">
    <div class="offers-patents__card-top">
      <div class="offers-patents__icon offers-patents__icon-globe"></div>
    </div>
    <div class="offers-patents__bottom">
      <div class="offers-patents__info">
        <p class="offers-patents__info_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
          gravida dolor</p>
      </div>
      <a class="offers-patents__link" href="#">Lear more</a>
    </div>
  </a>
</div>