<div class="blog-news">
  <div class="container">
    <div class="blog-news__block">
      <h2 class="blog-news__title title_s">The Latest News From Our Blog</h2>

      <div class="blog-news__wrap_slider">
        <div class="blog-news__strip-slider" id="strip-slider__blog">

          <a href="">
            <div class="blog-post blog-post__slider blog-post__slider_1">
              <div class="blog-post__img blog-post__img_post_1"><div class="overlay-img"></div></div>
              <span class="blog-post__date date">Jun. 22 2018</span>
              <h3 class="blog-post__title">How To Increase Your ROI By Generating Star Patents In Your Portfolio?</h3>
              <p class="blog-post__text">The beauty of a crown is enhanced by its jewels. The gold, no matter how pure,
                just gives structure to the crown.</p>
            </div>
          </a>
          <a href="">
            <div class="blog-post blog-post__slider blog-post__slider_2">
              <div class="blog-post__img blog-post__img_post_2"><div class="overlay-img"></div></div>
              <span class="blog-post__date date">Jun. 22 2018</span>
              <h3 class="blog-post__title">5 Types Of Patent Examiners You Should Know</h3>
              <p class="blog-post__text">Innovation often starts with a “light bulb moment”. One works on his idea and
                then from idea, he moves to invention, and in the end to a patent application.</p>
            </div>
          </a>
          <a href="">
            <div class="blog-post blog-post__slider blog-post__slider_3">
              <div class="blog-post__img blog-post__img_post_3"><div class="overlay-img"></div></div>
              <span class="blog-post__date date">Jun. 22 2018</span>
              <h3 class="blog-post__title">How To Decrease Grant Time Using Simple Analytics</h3>
              <p class="blog-post__text">Getting an application granted on the first go is like a dream come true.</p>
            </div>
          </a>
          <a href="">
            <div class="blog-post blog-post__slider blog-post__slider_4">
              <div class="blog-post__img blog-post__img_post_4"><div class="overlay-img"></div></div>
              <span class="blog-post__date date">Jun. 22 2018</span>
              <h3 class="blog-post__title">How To Perform A Comprehensive Trademark Search?</h3>
              <p class="blog-post__text">Joe came up with a great name for his soon-to-be-released product. He is proud
                of the selection and cannot wait to share it with the world.</p>
            </div>
          </a>

        </div> 
        <a class="blog-news__button_mobil" href="#">starting a business</a>

        <div class="control-slide__blog-news">
          <div id="control-sleder_1" class="button-control_1 button-control"></div>
          <div id="control-sleder_2" class="button-control_2 button-control"></div>
          <div id="control-sleder_3" class="button-control_3 button-control"></div>
          <div id="control-sleder_4" class="button-control_4 button-control"></div>
        </div>
       </div>
    </div>
     
  </div>
</div>